.root {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
}

:root {
  --kona-editor-background-color: #fff;
  --kona-editor-alt-background-color: #f5f5f5;
  --kona-editor-text-color: #444;
  --kona-editor-border-color: #ddd;
}

:global(html.dark) {
  --kona-editor-background-color: #222;
  --kona-editor-alt-background-color: #333333;
  --kona-editor-text-color: #eee;
  --kona-editor-border-color: #333;
}
