.root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--kona-editor-text-color, #444);
  background-color: var(--kona-editor-background-color, #fff);
}

.editor {
  outline: none;
  overflow: auto;

  &::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.025);
    width: 4px;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.075);
    border-radius: 8px;
  }

  & > [role="textbox"] {
    outline: none;
  }
}
