.root {
  display: flex;
  flex-direction: column;
  background-color: var(--kona-editor-alt-background-color);
  border-radius: 8px;
  padding: 4px;
}

.button {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
  background-color: transparent;

  &:active {
    transform: scale(0.9);
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  column-gap: 4px;
  padding: 4px 0;
}

.content {
  background-color: var(--kona-editor-background-color);
  border-radius: 6px;
  padding: 8px 4px;
  font-size: 14px;
}

.customMenu {
  max-height: 250px;
  width: 200px;
  overflow-y: auto;
  position: absolute;
  background-color: var(--kona-editor-background-color);
  border: 1px solid var(--kona-editor-border-color);
  z-index: 21;
  border-radius: 8px;
  font-size: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.025);

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
}
