.root {
  position: relative;
  border-radius: 4px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition:
    background-color,
    transform 0.25s;

  &.selected {
    background-color: #3498db11;
    transform: scale(0.98);
  }
}

.top {
  border-top: 2px solid #3498db;
}

.bottom {
  border-bottom: 2px solid #3498db;
}

.drag {
  display: inline-block;
  vertical-align: baseline;
  width: 16px;
  cursor: move;
  line-height: 1.2;
  opacity: 0;
  transition: opacity 0.25s;
}

.block {
  position: relative;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 16px 1fr;
  column-gap: 8px;
  align-items: start;
  padding: 4px 8px 4px 8px;
  transition: background-color 0.25s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.015);
  }

  &:hover .drag {
    opacity: 1;
  }
}
